.gopal button{
    width: 150px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #000000;
    border: none;
    /* border-radius: 15px; */
    /* box-shadow: 0 9px #999; */
    
}
.gopal button:hover {background-color: blue}

.gopal button:active {
  background-color: blue;
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
}